@import "tailwindcss";

html {
  font-family: "Inter", sans-serif;
  font-size: clamp(16px, 1.4vw, 1.3em);
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  overflow-x: hidden;
  background-color: #fff;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    color: var(--black);
    box-sizing: border-box;
    font-size: var(--p2);
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    line-height: normal;
  }
}

:root {
  --black: #2c2c2c;
  --white: #f5fffa;
  --primary: #6d67fe;
  --border: #f0f0f0;
  --border-2: rgba(216, 216, 218, 0.25);
  --border-3: #d8d8da;
  --input-bg: #fafafa;
  --input-bg-2: rgba(250, 250, 250, 0.35);
  --icon-black: rgba(27, 27, 27, 0.75);
  --icon-primary: rgba(251, 172, 34, 0.75);
  --background: #fcfcfd;
  --success: #00ad00;
  --error: #b60707;
  --warning: #f0c63d;

  /* typography */
  --h1: clamp(1.5rem, 5vw, 2rem);
  --h2: clamp(1.25rem, 4vw, 1.5rem);
  --h3: clamp(1rem, 3.5vw, 1.25rem);
  --h4: clamp(0.95rem, 3vw, 1.15rem);
  --p1: clamp(0.75rem, 2.5vw, 0.85rem);
  --p2: clamp(0.62rem, 1.8vw, 0.72rem);
  --p3: clamp(0.5rem, 1.65vw, 0.6rem);
  --p4: clamp(0.45rem, 1.5vw, 0.55rem);
  --p5: clamp(0.35rem, 1.45vw, 0.45rem);

  /* elements */
  --radius: 1rem;
  --radius-m: 0.75rem;
  --radius-s: 0.55rem;
  --radius-ss: 0.4rem;
  --padding: clamp(0.75rem, 3vw, 1rem);

  --transition: ease 0.5s;
  --cta-hover: brightness(93%);
}

@media (width < 640px) {
  :root {
    --h1: clamp(1.5rem, 5vw, 2rem);
    --h2: clamp(1.25rem, 4vw, 1.5rem);
    --h3: clamp(1rem, 3.5vw, 1.25rem);
    --h4: clamp(0.95rem, 3vw, 1.15rem);
    --p1: clamp(16px, 2.5vw, 0.85rem);
    --p2: clamp(12px, 1.8vw, 0.72rem);
    --p3: clamp(10px, 1.65vw, 0.6rem);
    --p4: clamp(8px, 1.5vw, 0.55rem);
    --p5: clamp(0.35rem, 1.45vw, 0.45rem);
  }
}

.font-h1,
.font-h1 * {
  font-size: var(--h1) !important;
}

.font-h2,
.font-h2 * {
  font-size: var(--h2) !important;
}
.font-h3,
.font-h3 * {
  font-size: var(--h3) !important;
}
.font-h4,
.font-h4 * {
  font-size: var(--h4) !important;
}

.font-p1,
.font-p1 * {
  font-size: var(--p1) !important;
}

.font-p1,
.font-p1 * {
  font-size: var(--p1) !important;
}
.font-p2,
.font-p2 * {
  font-size: var(--p2) !important;
}
.font-p3,
.font-p3 * {
  font-size: var(--p3) !important;
}

.font-p4,
.font-p4 * {
  font-size: var(--p4) !important;
}

.font-p5,
.font-p5 * {
  font-size: var(--p5) !important;
}

body {
  background: #ffffff;
  color: var(--black);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: var(--h1);
  font-weight: 600;
  line-height: 130%;
  font-family: "Inter", sans-serif;
}

h1 span {
  font-size: var(--h1);
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

h2 {
  font-size: var(--h2);
  font-weight: 600;
  line-height: 130%;
  font-family: "Inter", sans-serif;
}

h3 {
  font-size: var(--h3);
  font-weight: 600;
  line-height: 150%;
  font-family: "Inter", sans-serif;
}
h4 {
  font-weight: 600;
  font-size: var(--h4);
  line-height: 180%;
  font-family: "Inter", sans-serif;
}

p {
  line-height: 180%;
}

ul li {
  line-height: 180%;
}

.cta,
.cta-2 {
  display: flex;
  align-items: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: var(--white);
  border-radius: var(--radius-ss);
  transition: var(--transition);
  cursor: pointer;
  user-select: none;
  text-align: center;
  width: fit-content;
  font-weight: 600;
  user-select: none;
  outline: none;
  font-family: "Inter", sans-serif;
  background-color: var(--primary);
  height: 1.75rem;
  gap: 0.25rem;
  font-size: calc(0.95 * var(--p2));
  line-height: 0;
  border: 1px solid rgb(0, 0, 0, 0.15);
  box-shadow: inset -3px 0px 1px rgba(255, 255, 255, 0.2),
    inset 3px 0px 1px rgba(255, 255, 255, 0.2),
    inset 0px 3px 1px rgba(255, 255, 255, 0.2);
}

@media (width < 640px) {
  .cta,
  .cta-2 {
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: var(--p2);
  }
}

.cta * {
  font-weight: 600;
  color: var(--icon-black);
}

.cta svg,
.cta-2 svg {
  height: 0.8rem;
  width: 0.8rem;
}

.cta svg {
  color: var(--icon-black);
  stroke-width: 2px;
}

.cta-2 {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--border);
}

.cta:hover,
.cta-2:hover {
  filter: var(--cta-hover);
}

.cta:hover,
.cta-2:hover {
  filter: var(--cta-hover);
}

button {
  transition: var(--transition);
  cursor: pointer;
  filter: brightness(100%);
}

button:hover {
  filter: var(--cta-hover);
}

.news-content,
.news-content * {
  line-height: 180% !important;
}

.hero h1 span{
  background: linear-gradient(90deg, #6d67fe 0%, #5c3e98 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
